[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
numpy = "*"
pandas = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
jupyter = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
